<tr>
  <td>
    <h4><%= college['name'] %>
      <small><%= college['address'] %></small>
    </h4>
  </td>
  <td><%= college['rank'] %></td>
  <td><%= college['tuition_fees'] %></td>
  <td><%= college['total_enrollment'] %></td>
  <td><%= college['acceptance_rate'] %></td>
</tr>
